# Explore here

In [12]:
# Your code here

import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [13]:
df = pd.read_csv('../data/raw/Lake_Bilancino.csv')

In [14]:
df2 =df[['Date','Lake_Level']]
df2

            Date  Lake_Level
0     03/06/2002      249.43
1     04/06/2002      249.43
2     05/06/2002      249.43
3     06/06/2002      249.43
4     07/06/2002      249.44
...          ...         ...
6598  26/06/2020      250.85
6599  27/06/2020      250.84
6600  28/06/2020      250.83
6601  29/06/2020      250.82
6602  30/06/2020      250.80

[6603 rows x 2 columns]

In [15]:
df2.drop('Date',axis=1,inplace=True)

/tmp/ipykernel_7582/3386817926.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2.drop('Date',axis=1,inplace=True)

In [16]:
df2

      Lake_Level
0         249.43
1         249.43
2         249.43
3         249.43
4         249.44
...          ...
6598      250.85
6599      250.84
6600      250.83
6601      250.82
6602      250.80

[6603 rows x 1 columns]